<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>group5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>member.UserRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/userRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserAddressSettingServlet</servlet-name>
		<servlet-class>member.UserAddressSettingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAddressSettingServlet</servlet-name>
		<url-pattern>/userAddressSetting</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserNicknameServlet</servlet-name>	
		<servlet-class>member.UserNicknameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserNicknameServlet</servlet-name>
		<url-pattern>/userNicknameSetting</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserMobileOTPServlet</servlet-name>
		<servlet-class>member.UserMobileOTPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserMobileOTPServlet</servlet-name>
		<url-pattern>/userMobileOTP</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserMobileSettingServlet</servlet-name>
		<servlet-class>member.UserMobileSettingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserMobileSettingServlet</servlet-name>
		<url-pattern>/userMobileSetting</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserPwSettingServlet</servlet-name>
		<servlet-class>member.UserPwSettingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserPwSettingServlet</servlet-name>
		<url-pattern>/userPwSetting</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserWithdrawSettingServlet</servlet-name>
		<servlet-class>member.UserWithdrawSettingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserWithdrawSettingServlet</servlet-name>
		<url-pattern>/userWithdrawSetting</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SigninServlet</servlet-name>
		<servlet-class>member.SigninServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SigninServlet</servlet-name>
		<url-pattern>/signinServlet</url-pattern>
	</servlet-mapping>
</web-app>