@charset "UTF-8";
body{
	margin:0 auto;
	padding:0px;
	margin-left:150px;
	margin-right:150px;
}
.mainImg {
	display:block;
	width: 1200px;
	height: auto;
	border-radius: 4px;
	margin: 0 auto;
	margin-top: 150px;
}
main {
	margin: 0 auto;
	margin-left:350px;
	margin-right:350px;
	font-size: 14px;
	font-weight: 20px;
	letter-spacing: 0.2px;
	margin-bottom: 150px;
}
.contentImg {
	width: 1000px;
	height: auto;
	margin:0 auto;
	display:block;
}
.content{
	margin:0 auto;
	word-break:keep-all;
}
